#hello{
    display: block;
    height: 50%;
    width: 50%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    
}
#heading{
    height: 20%;
    width: 100%;
    color: white;
    font:300% bold ;
    background-color: rgb(34, 172, 57);
    text-align:center;
}
#todolist{
    color:rgb(112, 107, 107);
    width: 100%;
    height: 10%;
    background-color: rgb(212, 212, 95);
    font:200% bold;
    text-align: center;
    border: 2px solid blue;

}
#todolist2{
    color:rgb(112, 107, 107);
    width: 100%;
    height: 10%;
    background-color: rgb(212, 212, 95);
    font:200% bold;
    text-align: center;
    border: 2px solid blue;
    text-decoration:line-through;
}
#sup{
    color: red;
    font: 200% bold;
    border: 2px solid white;
    padding: 5px;
    background-color:rgb(87, 83, 83); 
}